.header-image {
  height: 50%;
  -webkit-mask-image: linear-gradient(#000, rgba(0, 0, 0, 0.2));
  mask-image: linear-gradient(#000, rgba(0, 0, 0, 0.2));
}

.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  width: 500%;
  height: 100%;
  transition: transform 0.3s ease;
}

.slide {
  flex: 0 0 20%;
}

.slide .slide-image {
  width: 100%;
  height: 100%;
  background-position: center;
  position: relative;
}

.header-content {
  position: absolute;
  bottom: 10%;
  left: 20px;
  text-align: left;
  color: #ffffff;
  max-width: 500px;
  z-index: 1;
}

.header-content h2 {
  font-size: 50px;
  color: #267fdd;
}

.slider-controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.prev-btn,
.next-btn {
  border: none;
  background: none;
  color: #ffffff;
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
  background-color: #1d1d1d5d;
  padding: 0px 10px;
}

.prev-btn:focus,
.next-btn:focus {
  outline: none;
}

.header-content h2 {
  font-size: 50px;
}

.card-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

.cards {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #1d1d1d;
  text-align: left;
  margin: 20px;
  color: white;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s;
}
.card:hover {
  transform: scale(1.1); /* Zoom in the image on hover */
}
.card img {
  max-width: 100%;
  object-fit: contain;
}

.card h3 {
  font-size: 15px;
  margin: 5px 10px 0px 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.card-footer {
  font-size: 12px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-footer .media-type {
  background-color: rgba(72, 147, 240, 0.477);
  width: 50px;
  display: grid;
  text-align: center;
  border-radius: 10px;
  color: #bbbbbb;
}

.rating-bar {
  height: 40px;
  width: 40px !important;
}

.card-footer p {
  font-size: 13px;
  display: flex;
  align-items: center;
}
.screen {
  position: relative;
}

.page-navigation {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
}

.page-nav-btn{
  padding: 5px 10px;
  background-color: #1d1d1d;
  border: 1px solid #fff;
  outline: none;
  color: white;
}

.page-nav-btn:hover{
  background-color: #267fdd;
  cursor: pointer;
}

.page-nav-btn:disabled {
  cursor:not-allowed;
}

@media all and (max-width: 720px) {
  .card {
    max-width: 160px;
  }
  .header-content {
    bottom: 20%;
    left: 10px;
    max-width: 100%;
  }
  .header-content h2 {
    font-size: 25px;
  }
  .header-content p {
    font-size: 13px;
  }
}

@media all and (max-width: 450px) {
  .card {
    max-width: 140px;
  }
  .card-footer .media-type {
    display: none;
  }
}

@media (max-height: 700px) {
  .header-content {
    bottom: 20%;
    left: 10px;
    max-width: 90%;
  }
  .header-content h2 {
    font-size: 20px;
  }
  .header-content h1 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .header-content p {
    font-size: 10px;
  }
}
